[
  {
    "resource": "${CONFIG_CLUSTER_RESOURCE_NAME}",
    "processors": "$(( ${CONFIG_CLUSTER_COMPUTE_NODE_COUNT} * ${CONFIG_CLUSTER_COMPUTE_NODE_CORE_COUNT} ))",
    "nodes": "${CONFIG_CLUSTER_COMPUTE_NODE_COUNT}",
    "ppn": "${CONFIG_CLUSTER_COMPUTE_NODE_CORE_COUNT}"
  }
]
